    body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.background {
    background-image: url('https://ik.imagekit.io/manu6268/4seasons/IMG-20250208-WA0054.jpg?updatedAt=1743406411451');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-between;
    color: white;
    text-align: center;
}

.names {
    margin-top: 20px;
    }

.names a {
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin: 10px;
    transition: color 0.3s;
}
.names a:hover {
    color: rgb(253, 253, 253);
}
.button {
  display: inline-block;
  border-radius: 8px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align:center;
  font-size: 28px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}
  .button:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  footer {
    text-align: center;
    padding: 5px;
    background:none;
    color: black;
    position: relative;
    bottom: 0;
    width: 99.2%; 
  }
.heading {
  position: relative;
  text-align: center;
  color: white;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.heading:hover{
  color:white;
}